/Fibonacci su recursija/build/
/Fibonacci su recursija/nbproject/private/
/Matricu daugyba/build/
/Matricu daugyba/nbproject/private/
/matricos determinantas2/build/
/matricos determinantas2/nbproject/private/
/matricosDeterminantas4/build/
/matricosDeterminantas4/nbproject/private/
/skaciu seka/build/
/skaciu seka/nbproject/private/